
.primary-text-input {
  @apply w-full p-3 py-4 rounded-xl border border-blue-500/80 text-sm text-blue-500 bg-transparent
  focus:outline-none placeholder-blue-500/70 font-[vazir] tracking-wide focus:border-blue-600
  transition-colors duration-300;
}

.primary-btn {
  @apply w-full rounded-xl focus:outline-none text-white text-sm
  bg-blue-500 cursor-pointer active:scale-95 duration-300 py-4 px-5 font-[vazir];
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-[14px] xl:text-[16px] 2xl:text-[18px];
}


@font-face {
  font-family: iranyekan100;
  src: url(/fonts/iranyekan/Qs_Iranyekan-thin.ttf);
}
@font-face {
  font-family: iranyekan200;
  src: url(/fonts/iranyekan/Qs_Iranyekan-light.ttf);
}
@font-face {
  font-family: iranyekan300;
  src: url(/fonts/iranyekan/Qs_Iranyekan.ttf);
}
@font-face {
  font-family: iranyekan400;
  src: url(/fonts/iranyekan/Qs_Iranyekan-bold.ttf);
}
@font-face {
  font-family: iranyekan500;
  src: url(/fonts/iranyekan/Qs_Iranyekan-medium.ttf);
}
@font-face {
  font-family: iranyekan600;
  src: url(/fonts/iranyekan/Qs_Iranyekan-extrabold.ttf);
}
@font-face {
  font-family: iranyekan700;
  src: url(/fonts/iranyekan/Qs_Iranyekan-black.ttf);
}
@font-face {
  font-family: iranyekan800;
  src: url(/fonts/iranyekan/Qs_Iranyekan-extrablack.ttf);
}

/* vazir */
@font-face {
  font-family: vazirThin;
  src: url(fonts/vazir/Vazir-Thin.ttf);
}
@font-face {
  font-family: vazirLight;
  src: url(fonts/vazir/Vazir-Light.ttf);
}
@font-face {
  font-family: vazir;
  src: url(/public/fonts/vazir/Vazir.ttf);
}
@font-face {
  font-family: vazirMedium;
  src: url(fonts/vazir/Vazir-Medium.ttf);
}
@font-face {
  font-family: vazirBold;
  src: url(fonts/vazir/Vazir-Bold.ttf);
}



* {
  font-family: vazir, Arial, Helvetica, sans-serif;
}




.fadein-x-anim {
  opacity: 0;
  display: inline-block;
  transform: translateX(var(--trx));
  animation-name: fadein-right-anim-1;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadein-right-anim-1{
  to {
      transform: translateX(0rem);
      opacity: 1;
  }
}

.loading-container span span {
  text-shadow: 0 0 40px rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.8);
  animation-name: anim-1;
  animation-duration: 1.4s;
  animation-delay: 4s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes anim-1 {
  to {
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 1);
  }
}


.ant-picker-panel-container {
  @apply -translate-x-1/2;
}

.filepond--action-process-item {
  display: none;
}

.ant-picker-content {
  @apply !h-52;
}


.leaflet-bottom.leaflet-right {
  @apply hidden;
}